#menu {
  padding: 15px;
}

#menu ul {
  padding: 15px;
  text-decoration: none;
}

.tituloPrincipal {
  margin-left: 23px;
}

.titulos {
  text-decoration: none;
  padding: 10px;
}

.bordes {
  border: 1px solid;
  padding: 6px;
  margin: 0 0 5px 0;
  list-style: none;
  border-radius: 5px;
}

.bordes:hover {
  background-color: rgb(133, 204, 226);
  color: white;
}

a {
  text-decoration: none;
}
